div{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

input{
  border-radius: 10rem 0 0 10rem;
  border: red;
  height: 3rem;
  width: 25rem;
  background-color: #d8fbf9;
  padding: 1.4rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

div button{
  color: rgb(44, 44, 86);
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: #6769fb;
  color: white;

  outline: none;
  cursor: pointer;
}


